﻿body {


}

.formmargin
{
    margin-bottom:20px !important;
    margin-top:5px !important;

    padding:10px;

}


.formcontrolheight
{
   height: 28px !important;
   font-size:12px;
}


.alertheight
{
    height:28px !important;
     font-size:12px !important;
     padding-top:5px;

}


.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/ripple.svg') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}


/*.formcontrolheight textarea
{
   height: 45px !important;

}*/


