﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="bankRecord.aspx.cs" Inherits="BCTrackingWeb.bankRecord" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div class="container-fluid">
        <div class="row page-title-div">
            <div class="col-md-6">
                <h2 class="title">Record</h2>

            </div>

            <!-- /.col-md-6 text-right -->
        </div>
        <!-- /.row -->
        <div class="row breadcrumb-div">
            <div class="col-md-6">
                <ul class="breadcrumb">
                    <li><a href="#" ui-sref="home"><i class="fa fa-home"></i>Home</a></li>
                    <li><a>List All</a></li>

                </ul>
            </div>

            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

    

        <section class="section">
            <div class="container-fluid">

                <div class="row">

                    <div class="col-md-12">
                        <div class="panel">

                            <div class="panel-body p-20">


                                <div class="panel-body">

                                    <div class="formmargin">

                                  <iframe src="https://bcregistrybi.herokuapp.com/public/dashboard/9e58720c-8240-4047-bfa1-9d4200d32db3" frameborder="0"  width="800"    height="600"    allowtransparency></iframe>
                                     
                                    
                                    </div>
                                </div>


                                <!-- /.col-md-12 -->
                            </div>
                        </div>
                        <!-- /.panel -->
                    </div>

                </div>
            </div>

        </section>
    <!-- /.section -->
    </form>
</body>
</html>

